@c1: #3861c2;
@c2:#e3c75f;
@c3: #c238be;
@c4: #c81738;
@c5:#2e2a61;
@c6:#7a7c8c;
@c7:#413b6b;

.overflowHidden2{
  display: -webkit-box !important;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.overflowHidden{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
