@c1:#07c29a;
@c2:#e3c75f;
@c3:#e93c58;
@c4:#9f74c8;
@c5:#151723;

.overflowHidden2{
  display: -webkit-box !important;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.overflowHidden{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
