@import "~vux/src/styles/reset.less";
@import "common";
.m-common-dialog{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  z-index: 999;
  .dialogText{
    b{
      font-weight: 600;
    }
  }
  .marks{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .m-info{
    color:@c6;
    padding-bottom:0;
    background: #fff;
    width: 600px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    .close{
      font-size: 40px;
      position: absolute;
      right:-20px;
      top:-20px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50px ;
      display: flex;
      align-items: center;
      justify-content: center;
      background:@c1;
      color:#fff;
    }
    .content{
      flex:1;
      padding:20px 30px;
    }
    .bottom{
      text-align: center;
      height: 80px;
      line-height: 80px;
      border-radius:0 0 30px 30px;
      background: @c1;
      display: flex;
      .btns{
        display: flex;
        width: 100%;
        >div{
          flex:1;
        }
        .okBtn{
          color:#fff;
          border-radius:0 0 30px 30px;
          &.disable{
            background: #ddd;
          }
        }
        .cancelBtn{
          background: #ddd;
        }
      }

    }
  }
}
*{
  //-webkit-touch-callout:none;
  //-webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.m-cont{
  .m-head {
    color: #fff;
    padding: 30px;
    font-size: 32px;
  }
  .m-arrowRight{
    width: 40px;
    height:40px;
  }
  .m-line-title{
    height:38px;
    line-height: 38px;
    display: flex;
    align-items: center;
    font-size: 36px;
    color:#fff;
    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      width: 4px;
      margin-right:20px;
      background: @c1;
    }
  }
}
html,body{-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
html{
  user-select:none;
  background: #171631;
}
.vux-loading.vux-loading-no-text .weui-toast{
    height: 160px;
    width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#app{
    .weui-dialog{
      border-radius: 21px;
      max-width: none;
      width: 84%;
      display: flex;
      align-items: center;
      background: none;
      .m-dialog-info {
        border-radius: 21px;
        background: white;
        width: 100%;
        color: #252525;
        .title {
          border-bottom: 1PX solid #EAEAEA;
          height: 97px;
          display: flex;
          align-items: center;
          padding: 0 39px;
          font-size: 32px;
          > img {
            margin-top:-8px;
            width: 35px;
            height: 35px;
            margin-right: 10px;
          }
        }
        .info-cont {
          padding: 40px;
          min-height: 50px;
          box-sizing: border-box;
          font-size: 28px;
          width: 85vw;
          display: block;
          .item {
            font-size: 28px;
            display: flex;
            justify-content: space-between;
            height: 60px;
            .value{
              flex:1;
              text-align: right;
              width: 75%;
            }
          }
        }
        .okBtn {
          margin-bottom:-2px;
          line-height: 84px;
          font-size: 30px;
          color: #fff;
          background: linear-gradient(90deg, rgba(37, 222, 150, 1) 0%, rgba(18, 184, 158, 1) 100%);
          border-radius: 0px 0px 21px 21px;
        }
      }

    }
}
.weui-toast {
  top: 40% !important;
  .weui-toast__content{
    font-size: 28px;
  }
  .weui-icon_toast.weui-loading{
    width: 80px;
    height: 80px;
    margin:0;
  }
}
.vux-slider > .vux-indicator > a > i.vux-icon-dot {
  width: 12px;
  height: 12px;
  border-radius: 100% 100%;
}
// 表单样式
.form {
  .weui-cell_access .weui-cell__ft {
    padding-right:20px;
    padding-top: 8px;
    &:after {
      height: 12px;
      width: 12px;
      border-color: #444444;
    }

  }
  .vux-no-group-title {
    margin-top: 0;
    &::before {
      border: 0;
      height: 0;
    }
  }
  .weui-cells {
    .weui-icon-clear, .weui-icon-search{
      font-size: 30px;
    }
    &::after {
      left: 20px;
      right: 20px;
    }
    .weui-cell {
      padding: 0 24px;
      height: 90px;
      font-size: 28px;
      .weui-switch, .weui-switch-cp__box{
        border-radius: 200px;
        width:80px;
        height:40px;
        &:before{
          width:76px;
          height:40px;
          background: none;
        }
        &:after{
          top:4%;
          left: 0px;
          width:35px;
          height:35px;
          border-radius: 1000px;
        }
        &:checked{
          &:after{
            left: 22px;
          }
          background: #16D1A4;
        }
      }
      &.vux-x-textarea{
        background: #f9f9f9;
        width:100%;
        height:272px;
        box-sizing: border-box;
        margin:20px 0;
        .weui-textarea{
          background: #f9f9f9;
          height: 200px;
          padding:20px;
          box-sizing: border-box;
        }
      }
      &::before {
        left: 20px;
        right: 20px;
      }
    }
  }
  .form-group {
    background-color: #ffffff;
    .container {
      height: 90px;
      display: flex;
      align-items: center;
      padding: 0 24px;
      position: relative;
      &::before {
        content: " ";
        position: absolute;
        left: 20px;
        bottom: 0;
        right: 20px;
        height: 1px;
        border-top: 1px solid #d9d9d9;
        color: #d9d9d9;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
      }
      &:last-child:before {
        border: 0;
      }
      .password {
        width: 32px;
        height: 32px;
      }
      .container-title {
        min-width: 30%;
        font-size: 32px;
        font-weight: 300;
        color: rgba(37, 37, 37, 1);
        margin-left: 24px;
      }
      .form-input {
        width: 62%;
        flex: 1;
        border: 0;
        outline: 0;
        text-align: right;
        height: 100%;
        font-size: 32px;
      }
    }
  }
  .require {
    .weui-cell__hd, .vux-cell-bd {
      label {
        &::before {
          content: "*";
          color: #EF2403;
          margin-left: -15px;
          font-size:28px;
        }
      }
    }
  }
}
.maintenanceRegistration,
.stationItem,
.form .weui-cells .weui-cell.vux-x-textarea.describeTextarea {
  height: auto;
  font-size: 28px;
  .weui-cell__bd .weui-textarea {
    padding: 0;
    background-color: #fff;
    height: 90px;
  }
}
#app {
  .vux-cell-primary {
    min-width: 150px;
  }
}
